@font-face {
  font-family: "Hubot";
  src: url("/font/Hubot/Hubot-Sans-Light.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Hubot-Bold";
  src: url("/font/Hubot/Hubot-Sans-BoldWide.woff2") format("woff2-variations");
}
